body{
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #333333;
	font-family: arial;
	/*overflow: hidden;*/
}

#MenuWrapper{
	float:left; 
	height: 100%;
	width: 300px;
	background-color: #222222;
}

#GameWrapper{
	float: left;
	text-align: center;
	height: 100%;
	width: calc(100% - 300px);
}

.Button{
	height: 30px;
	min-width: 50px;
	border: white 2px solid;
	color: white;
	font-size: 18px;
	background-color: transparent;
	margin: 3px;
}

.Input{
	height: 26px;
	min-width: 50px;
	border: white 2px solid;
	color: white;
	font-size: 16px;
	padding: 2px;
	background-color: #333333;
	margin: 3px;
}

#MapWrapper{
	position: relative;
	display: inline-block;			
	background-color: #222222;	
	border: 3px solid white;		
	margin-top: 50px;
}	

#Map{
	position: relative;
	display: block;			
	background-color: #222222;	
}	

#GameInfo{
	display: block;
	height: 100px;
	min-width: 1px;
	color: #FFFFFF;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}	

.Candy{
	position: absolute;  
	background-color: red;				
	border-radius: 50%;
	z-index: 5;
}

.Player{ position: absolute; z-index: 10;}

.pacman{				
  	width: 1px;
  	height: 1px;				
}

#CountDownWrapper{
	height: 100px;
	width: 100%;
	position: relative;
	margin-top: 50px;
	text-align: center;
	color:white;
}

#CountDownMessage{
	font-size: 30px;
}

.alert{
    color: red;
    font-size: 30px;
    text-align: center;
}

#CountDownValue{
	font-size: 50px;
}

table{
    width: 90%;
    margin: 0 auto;
}

td{
    width: 50%;
}

table, td{
    color: #FFF;
    border: 1px solid #FFF;
    border-collapse: collapse;
    text-align: center;
}
